﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">What would you like to know?</h1>
    <form method="post">
        <input asp-for="Query" type="text" id="question" name="question"/>
        <input type="submit" value="Submit"> 
    </form>
    <br/>
    <p>Ask your question and we will do our best to give you an answer below.</p>
</div>
